# Training Program on Advanced Python
### Course Agenda - 

1. **Python Basics**
   - Overview, syntax, variables, and data types (integers, floats, strings, Booleans)
   - Basic input/output (using `input()` and `print()`)
   - Arithmetic, comparison, and logical operators

2. **Control Flow**
   - Conditional statements (if, elif, else)
   - Loops (for and while loops) and control statements (break, continue, pass)

3. **Data Structures**
   - Lists, tuples, dictionaries, and sets (creating, accessing, modifying)
   - List and dictionary comprehensions
     
4. **Functions**
   - Defining functions, parameters, and return statements
   - Variable scope (local vs global), lambda functions, and recursion

5. **Modules and Libraries**
   - Importing and using standard libraries (math, os, datetime, re)
   - Popular libraries for data science (NumPy, pandas, matplotlib)

### Python Basics

- Overview, syntax, variables, and data types (integers, floats, strings, Booleans)
- Basic input/output (using input() and print())
- Arithmetic, comparison, and logical operators

#### Python is – 
- Open source
- Interpreter based
- Platform independent
- Current version – 3.13.x
- Download it from here - https://www.python.org/download/releases/3.0/

Tools - 
1. Jupyter Notebook - .ipynb
2. Visual Studio code - .py and .ipynb
3. Pycharm - .py
4. Spyder - .py

### Python Data Types

1. int: Integer numbers, e.g., 42, -7
2. float: Floating-point numbers (decimal), e.g., 3.14, -0.001
3. complex: Complex numbers, e.g., 1+2j, -3+4j
4. bool: Boolean values, either True or False
5. str: String, a sequence of characters, e.g., "hello", 'world'
6. bytes: Immutable sequence of bytes, e.g., b'hello'

In [1]:
10 # int

10

In [2]:
15.5 # float

15.5

In [3]:
"abcd" # str

'abcd'

In [4]:
True # bool

True

In [5]:
complex(2,3) # complex

(2+3j)

#### Examples -

###### Ex. WAP to take name of user as input and print a welcome message

In [6]:
name = input("Enter your name - ")
print("Welcome", name)

Enter your name -  Jane

Welcome Jane

###### Ex. WAP to take two numbers as input from user and print their sum.

In [10]:
num1 = float(input("Enter a number - "))
num2 = int(input("Enter a number - "))
print(num1 + num2)

Enter a number -  5.7
Enter a number -  6

11.7

##### Note - input() always stores value in str format

<hr><hr>

### Operators in Python
- Operators are special symbols in Python that carry out computations. The value that the operator operates on is called as operand.

<table style="width: 60%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
    <th>Type</th>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td rowspan="7" style="text-align:center;">Arithmetic</td>
    <td>+</td>
    <td>Addition</td>
    <td><code>3 + 2 = 5</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td>-</td>
    <td>Subtraction</td>
    <td><code>5 - 2 = 3</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td>*</td>
    <td>Multiplication</td>
    <td><code>3 * 2 = 6</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td>/</td>
    <td>Division</td>
    <td><code>6 / 2 = 3.0</code></td>
  </tr>
   <tr style = "border: 1px solid #ccc;">
    <td>%</td>
    <td>Modulus</td>
    <td><code>5 % 2 = 1</code></td>
  </tr>
   <tr style = "border: 1px solid #ccc;">
    <td>**</td>
    <td>Exponentiation</td>
    <td><code>3 ** 2 = 9</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td>//</td>
    <td>Floor Division</td>
    <td><code>7 // 2 = 3</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td rowspan="6" style="text-align:center;">Comparison</td>
    <td>==</td>
    <td>Equality</td>
    <td><code>3 == 2  //False</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td>!=</td>
    <td>Inequality</td>
    <td><code>3 != 2  //True</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td>&gt;</td>
    <td>Greater than</td>
    <td><code>5 &gt; 3  //True</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td>&lt;</td>
    <td>Less than</td>
    <td><code>3 &lt; 5  //True</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td>&gt;=</td>
    <td>Greater than or equal to</td>
    <td><code>5 &gt;= 3  //True</code></td>
  </tr>
  <tr style = "border: 1px solid #ccc;">
    <td>&lt;=</td>
    <td>Less than or equal to</td>
    <td><code>3 &lt;= 5  //True</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td rowspan="3" style="text-align:center;">Logical</td>
    <td>and</td>
    <td>Logical AND</td>
    <td><code>(5 &gt; 3) and (3 &gt; 2)  //True</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>or</td>
    <td>Logical OR</td>
    <td><code>(5 &gt; 3) or (3 &gt; 5)  //True</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>not</td>
    <td>Logical NOT</td>
    <td><code>not (3 &gt; 5)  //True</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td rowspan="8" style="text-align:center;">Assignment</td>
    <td>=</td>
    <td>Assignment</td>
    <td><code>x = 5</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>+=</td>
    <td>Add and assign</td>
    <td><code>x += 3</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>-=</td>
    <td>Subtract and assign</td>
    <td><code>x -= 2</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>*=</td>
    <td>Multiply and assign</td>
    <td><code>x *= 3</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>/=</td>
    <td>Divide and assign</td>
    <td><code>x /= 2</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>%=</td>
    <td>Modulus and assign</td>
    <td><code>x %= 2</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>**=</td>
    <td>Exponentiation and assign</td>
    <td><code>x **= 2</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>//=</td>
    <td>Floor division and assign</td>
    <td><code>x //= 2</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td rowspan="2" style="text-align:center;">Membership</td>
    <td>in</td>
    <td>Membership (in)</td>
    <td><code>'a' in 'apple'  //True</code></td>
  </tr>
    <tr style = "border: 1px solid #ccc;">
    <td>not in</td>
    <td>Membership (not in)</td>
    <td><code>'b' not in 'apple'  //True</code></td>
  </tr>
</table>

###### Ex. WAP to accept hours and rate per hour from user and compute gross pay.

In [11]:
hrs = int(input("Enter number of hours - "))
rate = float(input("Enter rate per Hour - "))
gross_pay = hrs * rate
print(gross_pay)

Enter number of hours -  40
Enter rate per Hour -  1000

40000.0

<hr><hr>

## Decision Making

Decision-making statements in Python allow you to control the flow of execution based on certain conditions. These statements include if, elif, and else and can be used to execute different blocks of code depending on whether conditions are True or False.

- #### Basic if Statement
    - The if statement evaluates a condition and executes a block of code if the condition is True.
    - Syntax:<br>
      `if condition:`<br>
          &emsp;&emsp;`# block of code`

- #### if-else Statement
    - The if-else statement evaluates a condition and executes one block of code if the condition is True, and another block if the condition is False.
    - Syntax:<br>
    `if condition:`<br>
    &emsp;&emsp;`# block of code if condition is True`<br>
       `else:`<br>
    &emsp;&emsp;`# block of code if condition is False`
- #### if-elif-else Statement
    - The if-elif-else statement allows you to check multiple expressions for True and execute a block of code as soon as one of the conditions evaluates to True.
    - If none of the conditions are True, the else block is executed.
    - Syntax:<br>
    `if condition1:`<br>
    &emsp;&emsp;`# block of code if condition1 is True`<br>
    `elif condition2:`<br>
        &emsp;&emsp;`# block of code if condition2 is True`<br>
    `elif condition3:`<br>
        &emsp;&emsp;`# block of code if condition3 is True`<br>
    `else:`<br>
    &emsp;&emsp;`# block of code if none of the conditions are True`

- #### Nested if Statements
    - You can nest if statements within other if statements to check multiple conditions in a hierarchical manner.
    - Syntax:<br>
    `if condition1:`<br>
    &emsp;&emsp;`# block of code if condition1 is True`<br>
    &emsp;&emsp;`if condition2:`<br>
        &emsp;&emsp;&emsp;&emsp;`# block of code if condition2 is True`<br>
    &emsp;&emsp;`else condition3:`<br>
        &emsp;&emsp;&emsp;&emsp;`# block of code if condition2 is False`<br>
    `else:`<br>
    &emsp;&emsp;`# block of code if condition1 is False`

- #### One-Line if-else

    - Syntax: <br>
  `value_if_true if condition else value_if_false`

#### Examples -

###### Ex. Write a program to accept the number of hours worked and the rate per hour from the user, then compute the gross pay.

- For up to 40 hours, pay the standard rate.
- For any overtime (hours worked beyond 40), pay 1.5 times the standard rate for the additional hours.

In [12]:
hrs = int(input("Enter number of hours - "))
rate = float(input("Enter rate per Hour - "))
if hrs <= 40 :
    gross_pay = hrs * rate
else:
    gross_pay = (40 * rate) + ((hrs - 40) * 1.5 * rate)
print(gross_pay)

Enter number of hours -  45
Enter rate per Hour -  1000

47500.0

In [ ]:
40 - 1000 = 40000
45 - 1000 = 47500

###### Ex. Write a program to check if the customer is eligible for a loan based on the following conditions:

- Income is greater than or equal to 50,000
- Credit score is greater than or equal to 700
- Loan amount is less than or equal to 10 times the income

In [23]:
income = int(input("Enter your income - "))
credit_score = int(input("Enter your credit score - "))
loan_amt = int(input("Enter your loan amount - "))
if (income >= 50000) and (credit_score >= 700) and (loan_amt <= (income * 10)) :
    print("Eligible for loan")
else:
    print("Not Eligible for loan")

Enter your income -  75000
Enter your credit score -  800
Enter your loan amount -  5000000

Not Eligible for loan

###### Ex. Write a program to categorise the product entered by user based on the mentioned categories

In [21]:
electronics = ["laptop", "smartphone", "headphones"]  # lists
clothing = ["t-shirt", "jeans", "jacket"]
groceries = ["milk", "bread", "eggs"]

product = input("Enter a product - ").lower()
if product in electronics :
    print(f"Product {product} belongs to electronics category")
elif product in clothing :
    print(f"Product {product} belongs to clothing category")
elif product in groceries :
    print(f"Product {product} belongs to groceries category")
else:
    print(f"Product {product} is not present in the inventory")

Enter a product -  Eggs

Product eggs belongs to groceries category

##### Note - Every object in python has its own set of functionalites called as methods

- variables, input(), print(), type conversion
- Operators
- if-else
- formatted string using `f""`
- string methods
##### - python is case sensitive
##### - python is dynbamically types hence it needs validations

<hr><hr>

### Loops

<table style="width: 90%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white; text-align: left;">
      <th style = "width: 10%">Loop Type</th>
      <th style = "width: 40%">Description</th>
      <th style = "width: 20%">Syntax</th>
      <th style = "width: 30%">Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #ccc;">for loop</td>
      <td style="border: 1px solid #ccc;">Iterates over a sequence (e.g., list, tuple, string) and executes a block of code for each element.</td>
      <td style="border: 1px solid #ccc; text-align: left;">
        for element in sequence:<br>
        &emsp;# Code block<br>
      </td>
      <td style="border: 1px solid #ccc; text-align: left;">
        numbers = [1, 2, 3, 4, 5]<br>
        for num in numbers:<br>
        &emsp;print(num)<br>
        # Output: 1 2 3 4 5<br>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">while loop</td>
      <td style="border: 1px solid #ccc;">Repeats a block of code as long as a specified condition is `True`.</td>
      <td style="border: 1px solid #ccc; text-align: left;">
        while condition:<br>
        &emsp;# Code block<br>
      </td>
      <td style="border: 1px solid #ccc; text-align: left;">
        
      </td>
    </tr>
  </tbody>
</table>

###### Ex. WAP to validate input for int value

In [24]:
var = input("Enter a number - ")
while not var.isdigit() :   # str method
    var = input("Not a digit. Enter number again - ")    
var = int(var)
print(var * 100)

Enter a number -  10\
Not a digit. Enter number again -  10

1000

In [26]:
while True :  # infinite loop
    var = input("Enter number - ")    
    
    if var.isdigit() : 
        var = int(var)
        break 
        
    print("Not a digit!")
    
print(var * 100)

Enter number -  abc

Not a digit!

Enter number -  5

500

#### Sequence 
- Collection of elements
- str sequence - characters
- container sequence - objects
- range() - numbers (int)

###### Ex. WAP to print numbers from 1-10 with their squares

In [ ]:
for i in range(1, 11) : # range() is seq 
    print(i, " - ", i **2)

In [ ]:
for ch in "abcde" : # str - seq of characters
    print(ch)

In [ ]:
lst = [10, 20, 30, 40] # lst - seq of objects
for i in lst :
    print(i)

In [ ]:
groceries = ["milk", "bread", "eggs", "brownie", "butter"]
product = input("Enter product - ")

for item in groceries :
    if item.startswith(product) :  # product input at the start of the string
        print(item)

In [ ]:
groceries = ["milk", "bread", "eggs", "brownie", "butter"]
product = input("Enter product - ")

for item in groceries :
    if product in item :  # contains a substring - in operator in strings
        print(item)

In [ ]:
if product in groceries  : # in operator on a string in a list "==" comparision
    print(product, "is present in the list")
else:
    print(product, "is not present in the list")

In [58]:
groceries = ["milk", "bread", "eggs", "brownie", "butter", "vegitable"]
product = input("Enter product - ")
flag = True
for item in groceries :
    if product in item : 
        print(item)  
        flag = False
if flag :
    print("Unable to find matching product")

Enter product -  z

Unable to find matching product

#### for-else loop

- if for-loop is executed till the end of the list/sequence else is executed
- if for-loop is terminated by a break statement then else is not executed

In [57]:
# prime numbers - 
num = 170
for i in range(2, num) :
    if num % i == 0 :
        print("Not prime")
        break
else:
    print("Prime")

Not prime

Use case - extract the first matching value from the sequence and break then use for-else

In [61]:
sales = [40000, 55000, 33000, 26600, 6000]
for value in sales :
    print(f"{value//1000}k")

40k
55k
33k
26k
6k

In [64]:
sales = [40000, 55000, 33000, 26600, 6000]
for i in sales :
    print(f"{round(i/1000)}k")

40k
55k
33k
27k
6k

###### Ex. WAP to print sum of numbers from 1-10

In [66]:
sum(range(1, 11)) # sum() returns summation of all numbers in numeric sequence

55

###### Ex. WAP to print product of numbers from 1-10

In [67]:
import math as m
m.prod(range(1, 11)) # returns multiplication of all numbers in numeric sequence

3628800

<hr><hr>

### Sequence objects 
- collection of elements - str, range()
- Container sequences/Objects  - list, tuple, dict, set
 
#### `Operations on Generic Sequences`
    - Membership - in | not in
    - Iteration - for-loop

#### `Operations on Ordered/Indexed Sequences`
    - Indexing - obj[index_pos]
    - Slicing - obj[start : stop]
    - Concatenation - `+` operator
    - Repeatition - `*` operator

#### `Functions on Generic Sequences`
     - len() - gives the number of elements in the sequence
     - max() - gives the largest element in the sequence
     - min() - gives the smallest element in the sequence
     - sum() - applicable to numeric sequences, returns the sum of all elements in the sequence
     - math.prod() - applicable to numeric sequences, returns the product of all elements in the sequence
     - sorted() - sorts the elements in the sequence in ASC order and returns a list object
     

### Python Sequences and Containers
   
<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: center;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="border: 1px solid #ccc; padding: 8px;">Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Container Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Sequence Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Element Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Enclosed in</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Immutability</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Duplicates</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">str()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">characters</td>
      <td style="border: 1px solid #ccc; padding: 8px;">"" or ''</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">tuple()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">list()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">[]</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">set()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">heterogeneous (immutable objects)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">dict()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - immutable<br>Value - any type</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - No<br>Value - Yes</td>
    </tr>

In [76]:
string = "Mumbai"
string

'Mumbai'

In [79]:
[1, 2, 3, 4, 5, "a", "b"] # mutable - can be edited

[1, 2, 3, 4, 5, 'a', 'b']

In [80]:
(1, 2, 3, 4) # immutable - cannot be edited

(1, 2, 3, 4)

In [83]:
{10, 20, 30, 40, 50, 20} # no duplicates, no specific order

{10, 20, 30, 40, 50}

In [84]:
{"India" : "INR", "Japan" : "Yen"}

{'India': 'INR', 'Japan': 'Yen'}

### Indexing and Slicing
- Each character in a string has a unique index, starting from 0 for the first character up to n-1 for the last character, where n is the length of the string.

- **Positive Indexing** - Positive indexing starts from 0 and goes up to n-1.
    - Index 0 corresponds to the first character.
    - Index 1 corresponds to the second character, and so on.
      
- **Negative Indexing** - Negative indexing starts from -1 for the last character and goes up to -n for the first character.
    - Index -1 corresponds to the last character.
    - Index -2 corresponds to the second last character, and so on.
      
- **Accessing Substrings** - You can also use slicing to access substrings. The syntax for slicing is `string[start:stop:step]` , where:
    - start is the starting index (inclusive).
    - stop is the ending index (exclusive).
    - step is the step size (optional).

In [87]:
phones = ["Galaxy S23", "Galaxy S24", "Galaxy S25", "Galaxy fold 3","Galaxy fold 4", "Galaxy fold 5"]

###### Extract first element from the list

In [88]:
phones[0]

'Galaxy S23'

###### Extract 5th element from the list

In [90]:
phones[4]

'Galaxy fold 4'

###### Ex. Extract last element from the list

In [91]:
phones[-1]

'Galaxy fold 5'

###### Ex. Extract first 3 elements from list

In [92]:
phones[0 : 3]

['Galaxy S23', 'Galaxy S24', 'Galaxy S25']

###### Ex. Extract all elements from index position 3

In [93]:
phones[3 : ]

['Galaxy fold 3', 'Galaxy fold 4', 'Galaxy fold 5']

###### Ex. Extract last 4 characters from the string

In [95]:
phones[ -4 : ]

['Galaxy S25', 'Galaxy fold 3', 'Galaxy fold 4', 'Galaxy fold 5']

##### Note - Applicable to str, list and tuples

In [96]:
countries = {"India" : "INR", "USA" : "USD", "Japan" : "Yen", "Singapore" : "SGD"} # dict object
countries

{'India': 'INR', 'USA': 'USD', 'Japan': 'Yen', 'Singapore': 'SGD'}

###### Ex. Extract currency for country Japan

In [99]:
countries["Japan"]

'Yen'

In [102]:
print(countries.get("China")) # return none if key is not present

None

In [103]:
print(countries.get("China", "Country not present"))

Country not present

In [128]:
keys = list(countries.keys())
keys

['India', 'USA', 'Japan', 'Singapore']

In [127]:
values = list(countries.values())
values

['INR', 'USD', 'Yen', 'SGD']

In [130]:
keys[values.index("Yen")] 
# Get index position of value
# pass the index to the indexing []

'Japan'

##### Note - 
- python is dynamically typed, hence developer has to validate the inputs or variables before performing operations.
- To reduce error handling tasks, python has many built-in functions or methods to perform validations on the data

In [142]:
numbers = {10, 20, 30, 40, 50}
numbers

{10, 20, 30, 40, 50}

In [109]:
numbers.remove(30) # delete the object from the set
numbers

KeyError: 30

In [122]:
numbers.discard(40) # delete the object from the set
numbers

{10, 20, 50}

In [145]:
lst = list(numbers) # set to list
lst

[50, 20, 40, 10, 30]

In [133]:
lst = [10, 20, 30, 40, 50]
lst.remove(20)
lst

[10, 30, 40, 50]

In [132]:
del lst[0]
lst

[30, 40, 50]

In [135]:
names = ["Jack", "Jane", "Jasmine"]
emp = dict.fromkeys(names)
emp

{'Jack': None, 'Jane': None, 'Jasmine': None}

In [141]:
names = ["Jack", "Jane", "Jasmine"]
emp = dict.fromkeys(names, 10)
emp

{'Jack': 10, 'Jane': 10, 'Jasmine': 10}

In [146]:
names = ["Jack", "Jane", "Jasmine"]
ages = [30, 25, 40]
zip(names, ages) # returns a sequence object

In [147]:
list(zip(names, ages)) # convert to list to view the elements
# sequence of tuples combining elements index-wise

[('Jack', 30), ('Jane', 25), ('Jasmine', 40)]

In [148]:
dict(zip(names, ages))

{'Jack': 30, 'Jane': 25, 'Jasmine': 40}

In [151]:
products = ["P1", "P2", "P3"]
prices = [4000, 5000, 2000]

for i, j in zip(products, prices) :
    print(f"Price of product {i} is {j//1000}k/-.")

Price of product P1 is 4k/-.
Price of product P2 is 5k/-.
Price of product P3 is 2k/-.

#### Examples -

###### Ex. Extract file name and extension from the string

In [3]:
file = input("Enter file name - ")
filename = file.split(".")[0]
ext = file.split(".")[-1]
print(f"Filename - {filename} and extn - {ext}")

Enter file name -  demo.py

Filename - demo and extn - py

###### Ex. Remove the currency symbol and convert the string into int

In [7]:
sales = "$1,200"
int(sales.replace("$", "").replace(",", ""))

1200

In [14]:
profit = "($1,200)"  # - -1200
trans_obj = str.maketrans("(", "-", "$),")
int(profit.translate(trans_obj))

-1200

###### Ex. Replace all vowels in a string with `*`

In [10]:
string = "I ate an apple"
trans_obj = str.maketrans("aeiou", "*****")
string.lower().translate(trans_obj)

'* *t* *n *ppl*'

In [11]:
trans_obj

{97: 42, 101: 42, 105: 42, 111: 42, 117: 42}

In [15]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### Comprehensions

`[<expression> for <var> in <sequence> if <condition>]`

#### Steps - 
1. Identify the sequence
2. Check for any condition (optional)
3. Identify the expression
4. Enclosed inside the container brackets

###### Ex. WAP to create a list of squares of numbers from 1 to 5

In [17]:
lst = []
for i in range(1, 6) :
    lst.append(i**2)  # Adding elements to a list
lst

[1, 4, 9, 16, 25]

In [18]:
[i**2 for i in range(1, 6)]

[1, 4, 9, 16, 25]

###### Ex. WAP to create a list of squares of even numbers between 1-20

In [19]:
[i**2 for i in range(1, 21) if i%2 == 0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

###### Ex. WAP to generate a dict of numbers from 1-5 as keys and their squares as values

In [20]:
{i : i**2 for i in range(1, 6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

###### Ex. WAP to convert the sales values to thousands format and store in a list

In [23]:
sales = [3000, 2000, 5000, 1000]
values = [f"{i//1000}k" for i in sales]
print(values)

['3k', '2k', '5k', '1k']

###### Ex. WAP to calculate sum of sales

In [26]:
sales = ["$200", "$500", "$800"]
sum([int(i.replace("$", "")) for i in sales])

1500

## Functions in python

In [28]:
# Function definition
def factorial(num) :  # num - parameter
    fact = 1
    for i in range(1, num+1) :
        fact *= i
    return fact

In [30]:
var = factorial(5) # Function call
var

120

### Function Arguments

#### 1. Required Positional Argument

In [35]:
def demo(name, age) :
    print(f"Name - {name} | Age - {age}")

demo("Jane", 30)
demo(30, "Jane")  # Positional arguments
demo("Jane")   # Required Arguments

Name - Jane | Age - 30
Name - 30 | Age - Jane

TypeError: demo() missing 1 required positional argument: 'age'

In [40]:
string = "Mississippi"
string.replace("*", "i")

'Mississippi'

In [38]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /) unbound builtins.str method
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

#### 2. Default Argument

In [43]:
string = "Mississippi"
string.replace("i", "*", 2)

'M*ss*ssippi'

In [47]:
countries = {"India" : "INR", "Japan" : "Yen"}
print(countries.get("China", "no present"))

no present

In [48]:
help(countries.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

#### 3. Variable Length Argument

In [49]:
def demo(name, *args, age = 18) :
        print(f"Name - {name} | Age - {age} | args - {args}")

demo("Jane", 80, 60, 70, 20)

Name - Jane | Age - 18 | args - (80, 60, 70, 20)

In [51]:
max(10, 20, 30, 40, 50)

50

In [52]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

#### 4. Keyword Argument

In [53]:
demo("Jane", 80, 60, 70, age = 20)

Name - Jane | Age - 20 | args - (80, 60, 70)

#### 5. Variable Length Keyword Argument

In [54]:
def demo(name, *args, age = 18, **kwargs) :
        print(f"Name - {name} | Age - {age} | args - {args} | kwargs - {kwargs}")

demo("Jane", 80, 60, 70, age = 20, gender = "f", mob = 9876543)

Name - Jane | Age - 20 | args - (80, 60, 70) | kwargs - {'gender': 'f', 'mob': 9876543}

In [55]:
help(str.maketrans)

Help on built-in function maketrans:

maketrans(...)
    Return a translation table usable for str.translate().

    If there is only one argument, it must be a dictionary mapping Unicode
    ordinals (integers) or characters to Unicode ordinals, strings or None.
    Character keys will be then converted to ordinals.
    If there are two arguments, they must be strings of equal length, and
    in the resulting dictionary, each character in x will be mapped to the
    character at the same position in y. If there is a third argument, it
    must be a string, whose characters will be mapped to None in the result.

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>