# Introduction to Pandas Library
- Pandas is an open source library in python which is know for its rich applications and utilities for all kinds of mathematical, financial and statistical functions
- It is useful in data manipulation and analysis
- It provides fast, flexible, and expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data

#### Installing pandas

In [ ]:
!pip install pandas

#### Importing pandas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Dataframe

A DataFrame is two dimensional data structure where the data is arranged in the tabular format in rows and columns

#### DataFrame features:

- Columns can be of different data types
- Size of dataframe can be changes
- Axes(rows and columns) are labeled
- Arithmetic operations can be performed on rows and columns

### Reading data from External Data Sources

#### Excel

In [ ]:
!pip install openpyxl

In [ ]:
df = pd.read_excel(r"Employee_dummy_data.xlsx", sheet_name="Sheet1", 
                   usecols=range(0, 3),nrows=2) # Reads data as a dataframedf

In [ ]:
df = pd.read_excel(r"Employee_dummy_data.xlsx", sheet_name="Sheet1", 
                   usecols=range(0, 3),skiprows=range(4, 6)) # skip lat 2 rowsdf

In [ ]:
df.to_excel()

In [ ]:
import io
import pandas as pd
import msoffcrypto

passwd = 'xyz'

decrypted_workbook = io.BytesIO()
with open(path_to_your_file, 'rb') as file:
    office_file = msoffcrypto.OfficeFile(file)
    office_file.load_key(password=passwd)
    office_file.decrypt(decrypted_workbook)

df = pd.read_excel(decrypted_workbook, sheet_name='abc')

#### Sharepoint

In [ ]:
!pip install Office365-REST-Python-Client pandas

In [ ]:
from office365.sharepoint.client_context import ClientContext
from office365.runtime.auth.authentication_context import AuthenticationContext
import pandas as pd
import io

# SharePoint site URL
sharepoint_url = "https://knowledgecornerin.sharepoint.com/sites/mylearnings/"
file_relative_url = "/sites/mylearnings/Documents/Invoices.xlsx"


# Authentication
username = "vaidehi.nair@knowledgecorner.in"
password = "password"

ctx_auth = AuthenticationContext(sharepoint_url)
if ctx_auth.acquire_token_for_user(username, password):
    ctx = ClientContext(sharepoint_url, ctx_auth)
    with io.BytesIO() as file:
        file = ctx.web.get_file_by_server_relative_url(file_relative_url).download(file).execute_query()
        file.seek(0)
        df = pd.read_excel(file)  # Read into pandas dataframe
        print(df.head())  # Display first few rows
        print("success")
else:
    print("Authentication failed!")

In [ ]:
import sys
print(sys.version)

### Merge and concate Dataframes

In [ ]:
df_emp = pd.read_excel(r"Employee_dummy_data.xlsx")
df_emp

In [ ]:
df_desg = pd.DataFrame({"Ecode" : range(102, 108), 
                        "Designation" : ["Manager", "Team Leader", "Developer", "Intern", "Developer", "PMO"]})
df_desg

In [ ]:
df_temp = df_emp.merge(df_desg, how = "inner", left_on="Employee Code", right_on= "Ecode")
df_temp

In [ ]:
df_temp = df_emp.merge(df_desg, how = "left", left_on="Employee Code", right_on= "Ecode")
df_temp

In [ ]:
df_temp = df_emp.merge(df_desg, how = "right", left_on="Employee Code", right_on= "Ecode")
df_temp

In [ ]:
df_temp = df_emp.merge(df_desg, how = "outer", left_on="Employee Code", right_on= "Ecode")
df_temp

In [ ]:
df_temp.to_excel(r"filename.xlsx")

In [ ]:
df1 = pd.DataFrame({"Date" : ["2024-01", "2024-02", "2024-03", "2024-04", "2024-05"], 
                   "Sales" : [5000, 8000, 4000, 6000, 3000]})
df2 = pd.DataFrame({"Date" : ["2024-06", "2024-07", "2024-08", "2024-09", "2024-10"], 
                   "Sales" : [5000, 8000, 4000, 6000, 3000]})

pd.concat((df2, df2, df2, df2))

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

###### Ex. Read data from `Orders.csv`

In [ ]:
df = pd.read_csv("Orders.csv")
df

#### Drop a column or row from dataframe

In [ ]:
df.drop(columns=["Order ID"], inplace=True)

##### Note - 

- functions like - drop(), fillna(), sort_values(), replace(), etc.
- They generate new dataframes without modifying original dataframe
- Save the output in a new variable or use option `inplace = True`

#### Working with **null** values

`df.isna()` - Detect missing values. Return a boolean same-sized object indicating if the values are NA.

`df.fillna(value=None, inplace=False)` - Fill NA/NaN values using the specified method.

In [ ]:
df.isna().any() # returns True or False for each column

In [ ]:
df.isna().sum() # returns count of null values in each column

In [ ]:
df.fillna({"Profit": 0}) # Replacing NaN with default 0, inplace = True can be set here

#### Drop null rows
df.dropna(`axis = 0`, `how = "any"`, `inplace = False`)
- axis 0 for row or 1 for column
- how - {any or all}

In [ ]:
df.dropna() # drop row with any 1 null value

In [ ]:
df.dropna(axis = 1, how = "all", inplace=True) # delete only the column which have all null values

#### Renaming Columns

###### Rename Columns (column 5 - 8 are not accessible)

In [ ]:
df.columns

In [ ]:
headers = ["Year/Month", "Order", "Product", ... ]
# df.columns = header

In [ ]:
# Extract columns matching substring
df.columns[df.columns.str.contains(input("Enter substring - "))]

#### Rename Single Column

In [ ]:
df.rename({"Date" : "Year/Month"}, axis=1, inplace=True)

#### Understanding Data in Dataframe

- `df.shape` - gives the size of the dataframe in the format (row_count x column_count)
- `df.dtypes` - returns a Series with the data type of each column
- `df.info()` - prints information about a DataFrame including the index dtype and columns, non-null values and memory usage
- `df.head()` - prints the first 5 rows of you dataset including column header and the content of each row
- `df.tail()` - prints the last 5 rows of you dataset including column header and the content of each row

In [76]:
df.shape

(10000, 7)

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.head(3)

In [ ]:
df.tail()

In [ ]:
df.tail(3)

In [78]:
df.Sales.astype(float)

0       2682.0
1       2662.0
2       2410.0
3       2910.0
4       2436.0
         ...
9995    2130.0
9996    2700.0
9997    1678.0
9998    2542.0
9999    2275.5
Name: Sales, Length: 10000, dtype: float64

#### Removing Duplicate Data

In [80]:
df.duplicated().sum() # Checks for entire row to be duplicate

np.int64(0)

In [85]:
df.duplicated(subset=["City"]).sum()

np.int64(9995)

In [88]:
df_temp = pd.DataFrame({"Invoice#" : range(1, 7),
                        "Product" : ["P1", "P2", "P2", "P1", "P2", "P1",],
                       "Sales" : [2000, 3000, 3000, 5000, 2000, 3000 ]})
df_temp

   Invoice# Product  Sales
0         1      P1   2000
1         2      P2   3000
2         3      P2   3000
3         4      P1   5000
4         5      P2   2000
5         6      P1   3000

In [95]:
df_temp.duplicated().any() # Returns True if atleast 1 row is duplicate

np.False_

In [89]:
df_temp.duplicated().sum() # 1 row is duplicate

np.int64(0)

In [96]:
df_temp.duplicated(subset=["Product", "Sales"]).sum() # 1 row is duplicate

np.int64(1)

In [97]:
# Extract the duplicate row
df_temp[df_temp.duplicated(subset=["Product", "Sales"])]

   Invoice# Product  Sales
2         3      P2   3000

In [94]:
# Extract the duplicate row
df_temp[df_temp.duplicated(["Product", "Sales"], keep=False)]

   Invoice# Product  Sales
1         2      P2   3000
2         3      P2   3000

#### Extract Rows and Columns from the Dataframe

###### Ex. Extract Sales and calculate total average sales

In [100]:
df["Sales"].mean() # Average sales

np.float64(2374.4075700000003)

###### Ex. Extract Product and Sales

In [ ]:
df[["Product", "Sales"]]

###### Ex. Extract row number 3

In [104]:
df.loc[3]

Year/Month       03-01-2021
Order ID           ORD10004
Product               PROD6
City                  Surat
Discount                  0
Shipping Cost            90
Sales                2910.0
Name: 3, dtype: object

###### Ex. Extract row 3 sales column

In [105]:
df.loc[3, "Sales"]

np.float64(2910.0)

#### Replacing values

df.replace(old_value, new_value, inplace=True)

#### Adding a new Column by calculation

###### Ex. Create columns showing `Sales` and `Profit` targets achieved

###### Ex. Count the number times Targets are achieved

###### Ex. Create a bar chart to view Target Status

#### Insert a column in between
df.insert(`index`, `column_name`, `default_value`)

###### Create columns Year and Month - extract data using pd.DatetimeIndex

#### Grouping Dataframes

##### `df.groupby(by=None, as_index=True, sort=True, dropna=True)`

###### Ex. Find product wise total Sales - bar chart

###### Ex. Extract Monthly Sales and Profit

###### Ex. Trend vs Sesonality

###### Ex. Analyse Growth over years